* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background-color: black;
  color: white;
}

div#root {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  background-color: #111111;
}
footer {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}






